<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="">
                <a class="" href="index.html">
                    <i class="icon-dashboard"></i>
                    <span>首页</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"></i>
                    <span>系统设置</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="library_mana.html">图书馆设置</a></li>
                    <li><a class="" href="bookcase_mana.html">书架管理</a></li>
                    <li><a class="" href="press_mana.html">出版社管理</a></li>
                    <li><a class="" href="manager_mana.html">管理员管理</a></li>
                    <li><a class="" href="stop_mana.html">封禁管理</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-cogs"></i>
                    <span>读者管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="reader_list.html">所有读者</a></li>
                    <li><a class="" href="reader_add.html">新增管理</a></li>
                    <li><a class="" href="readertype_mana.html">读者类型管理</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-tasks"></i>
                    <span>图书管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="book_list.html">所有图书</a></li>
                    <li><a class="" href="book_add.html">新增图书</a></li>
                    <li><a class="" href="booktype_mana.html">图书类型管理</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-th"></i>
                    <span>图书借还</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="book_borrow.html">图书借阅</a></li>
                    <li><a class="" href="book_borrowlong.html">图书续借</a></li>
                    <li><a class="" href="book_return.html">图书归还</a></li>
                </ul>
            </li>
            <li>
                <a class="" href="javascript:;">
                    <i class="icon-envelope"></i>
                    <span>系统查询</span>
                    <ul class="sub">
                        <li><a class="" href="book_list.html">图书档案查询</a></li>
                        <li><a class="" href="book_borrowlist.html">图书借阅查询</a></li>
                        <li><a class="" href="book_borrownotime.html">图书借阅快到期</a></li>
                    </ul>
                </a>
            </li>
            <li class="">
                <a class="" href="index.html">
                    <i class="icon-dashboard"></i>
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a class="" href="login.html">
                    <i class="icon-user"></i>
                    <span>Login Page</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>